-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: military_asset_db
-- ------------------------------------------------------
-- Server version	8.0.35

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_user`
--

DROP TABLE IF EXISTS `accounts_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `role` varchar(20) NOT NULL,
  `base_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `accounts_user_base_id_22078feb_fk` (`base_id`),
  CONSTRAINT `accounts_user_base_id_22078feb_fk` FOREIGN KEY (`base_id`) REFERENCES `assets_base` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user`
--

LOCK TABLES `accounts_user` WRITE;
/*!40000 ALTER TABLE `accounts_user` DISABLE KEYS */;
INSERT INTO `accounts_user` VALUES (1,'pbkdf2_sha256$1000000$SUIIoVkscOBrUtoUffzRYJ$T8Yvuy6NUy/VAnGyoBNdlgoMsb2b4O8DQI8eB0eqRVQ=','2026-09-29 13:45:51.977042',1,'admin','','','admin@example.com',1,1,'2026-09-28 17:22:07.000000','ADMIN',NULL),(2,'pbkdf2_sha256$1000000$hbtG9xIkE2kr9xIpTCk8Ce$BDJe+2gi+E5VNEFlLqxZwRcYMhEYN0t+XYfuCFxtSU4=',NULL,0,'Commander1','','','',0,1,'2026-09-29 10:32:47.601436','COMMANDER',1),(3,'pbkdf2_sha256$1000000$U5YUmLIHDlmplOWDHS9szT$KR/t7Jqhhw3Q1PR/fwNOdsKHRN9MXIMBnMRoLROb8oA=',NULL,0,'Logistics1','','','',0,1,'2026-09-29 10:33:28.746165','LOGISTICS',1);
/*!40000 ALTER TABLE `accounts_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_groups`
--

DROP TABLE IF EXISTS `accounts_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_groups_user_id_group_id_59c0b32f_uniq` (`user_id`,`group_id`),
  KEY `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `accounts_user_groups_user_id_52b62117_fk` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_groups`
--

LOCK TABLES `accounts_user_groups` WRITE;
/*!40000 ALTER TABLE `accounts_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_user_permissions`
--

DROP TABLE IF EXISTS `accounts_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq` (`user_id`,`permission_id`),
  KEY `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `accounts_user_user_permissions_user_id_e4f0a161_fk` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_user_permissions`
--

LOCK TABLES `accounts_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets_asset`
--

DROP TABLE IF EXISTS `assets_asset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets_asset` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `base_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `assets_asset_base_id_6d8acbf3_fk` (`base_id`),
  KEY `assets_asset_equipment_type_id_36af949b_fk` (`equipment_type_id`),
  CONSTRAINT `assets_asset_base_id_6d8acbf3_fk` FOREIGN KEY (`base_id`) REFERENCES `assets_base` (`id`),
  CONSTRAINT `assets_asset_equipment_type_id_36af949b_fk` FOREIGN KEY (`equipment_type_id`) REFERENCES `assets_equipmenttype` (`id`),
  CONSTRAINT `assets_asset_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets_asset`
--

LOCK TABLES `assets_asset` WRITE;
/*!40000 ALTER TABLE `assets_asset` DISABLE KEYS */;
/*!40000 ALTER TABLE `assets_asset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets_base`
--

DROP TABLE IF EXISTS `assets_base`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets_base` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `location` varchar(200) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets_base`
--

LOCK TABLES `assets_base` WRITE;
/*!40000 ALTER TABLE `assets_base` DISABLE KEYS */;
INSERT INTO `assets_base` VALUES (1,'Base Alpha','Bengaluru'),(2,'Base Bravo','Hydrabad'),(3,'Base Charlie','Pune');
/*!40000 ALTER TABLE `assets_base` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets_equipmenttype`
--

DROP TABLE IF EXISTS `assets_equipmenttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets_equipmenttype` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` longtext NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets_equipmenttype`
--

LOCK TABLES `assets_equipmenttype` WRITE;
/*!40000 ALTER TABLE `assets_equipmenttype` DISABLE KEYS */;
INSERT INTO `assets_equipmenttype` VALUES (1,'Vehicle',''),(2,'Communication Equipment',''),(3,'Protective Equipment','');
/*!40000 ALTER TABLE `assets_equipmenttype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_auditlog`
--

DROP TABLE IF EXISTS `audit_auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_auditlog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(100) NOT NULL,
  `entity_type` varchar(100) NOT NULL,
  `entity_id` int unsigned DEFAULT NULL,
  `details` longtext NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_auditlog_user_id_c1cca96c_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `audit_auditlog_user_id_c1cca96c_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `audit_auditlog_chk_1` CHECK ((`entity_id` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_auditlog`
--

LOCK TABLES `audit_auditlog` WRITE;
/*!40000 ALTER TABLE `audit_auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (6,'accounts','user'),(1,'admin','logentry'),(9,'assets','asset'),(7,'assets','base'),(8,'assets','equipmenttype'),(14,'audit','auditlog'),(3,'auth','group'),(2,'auth','permission'),(4,'contenttypes','contenttype'),(12,'operations','assignment'),(13,'operations','expenditure'),(10,'purchases','purchase'),(5,'sessions','session'),(11,'transfers','transfer');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operations_assignment`
--

DROP TABLE IF EXISTS `operations_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operations_assignment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_to` varchar(150) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `assignment_date` date NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `base_id` bigint NOT NULL,
  `created_by_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `operations_assignment_base_id_62c07e15_fk_assets_base_id` (`base_id`),
  KEY `operations_assignment_created_by_id_afc2b447_fk_accounts_user_id` (`created_by_id`),
  KEY `operations_assignmen_equipment_type_id_2e725287_fk_assets_eq` (`equipment_type_id`),
  CONSTRAINT `operations_assignmen_equipment_type_id_2e725287_fk_assets_eq` FOREIGN KEY (`equipment_type_id`) REFERENCES `assets_equipmenttype` (`id`),
  CONSTRAINT `operations_assignment_base_id_62c07e15_fk_assets_base_id` FOREIGN KEY (`base_id`) REFERENCES `assets_base` (`id`),
  CONSTRAINT `operations_assignment_created_by_id_afc2b447_fk_accounts_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `operations_assignment_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operations_assignment`
--

LOCK TABLES `operations_assignment` WRITE;
/*!40000 ALTER TABLE `operations_assignment` DISABLE KEYS */;
INSERT INTO `operations_assignment` VALUES (1,'Demo Personnel A',2,'2026-09-29','2026-09-29 05:48:14.239951',1,1,1),(2,'Personnel B',1,'2026-09-29','2026-09-29 10:24:33.978249',1,1,1),(3,'Personnel2',2,'2026-09-30','2026-09-30 04:00:54.267644',3,1,1);
/*!40000 ALTER TABLE `operations_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operations_expenditure`
--

DROP TABLE IF EXISTS `operations_expenditure`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operations_expenditure` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `reason` varchar(255) NOT NULL,
  `expenditure_date` date NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `base_id` bigint NOT NULL,
  `created_by_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `operations_expenditure_base_id_792c7174_fk_assets_base_id` (`base_id`),
  KEY `operations_expenditu_created_by_id_9e82a24d_fk_accounts_` (`created_by_id`),
  KEY `operations_expenditu_equipment_type_id_87450b92_fk_assets_eq` (`equipment_type_id`),
  CONSTRAINT `operations_expenditu_created_by_id_9e82a24d_fk_accounts_` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `operations_expenditu_equipment_type_id_87450b92_fk_assets_eq` FOREIGN KEY (`equipment_type_id`) REFERENCES `assets_equipmenttype` (`id`),
  CONSTRAINT `operations_expenditure_base_id_792c7174_fk_assets_base_id` FOREIGN KEY (`base_id`) REFERENCES `assets_base` (`id`),
  CONSTRAINT `operations_expenditure_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operations_expenditure`
--

LOCK TABLES `operations_expenditure` WRITE;
/*!40000 ALTER TABLE `operations_expenditure` DISABLE KEYS */;
INSERT INTO `operations_expenditure` VALUES (1,1,'Training exercise','2026-09-29','2026-09-29 05:49:41.852305',1,1,1),(2,1,'Trainning','2026-09-30','2026-09-29 10:26:58.110168',1,1,1),(3,1,'Damage','2026-09-30','2026-09-30 04:01:16.982244',3,1,3);
/*!40000 ALTER TABLE `operations_expenditure` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchases_purchase`
--

DROP TABLE IF EXISTS `purchases_purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchases_purchase` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `purchase_date` date NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `base_id` bigint NOT NULL,
  `created_by_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `purchases_purchase_base_id_c32d54e7_fk_assets_base_id` (`base_id`),
  KEY `purchases_purchase_created_by_id_699c5882_fk_accounts_user_id` (`created_by_id`),
  KEY `purchases_purchase_equipment_type_id_70002824_fk_assets_eq` (`equipment_type_id`),
  CONSTRAINT `purchases_purchase_base_id_c32d54e7_fk_assets_base_id` FOREIGN KEY (`base_id`) REFERENCES `assets_base` (`id`),
  CONSTRAINT `purchases_purchase_created_by_id_699c5882_fk_accounts_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `purchases_purchase_equipment_type_id_70002824_fk_assets_eq` FOREIGN KEY (`equipment_type_id`) REFERENCES `assets_equipmenttype` (`id`),
  CONSTRAINT `purchases_purchase_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchases_purchase`
--

LOCK TABLES `purchases_purchase` WRITE;
/*!40000 ALTER TABLE `purchases_purchase` DISABLE KEYS */;
INSERT INTO `purchases_purchase` VALUES (1,10,'2026-09-28','2026-09-28 17:53:55.422701',1,1,1),(2,10,'2026-09-29','2026-09-29 10:14:42.599294',1,1,2),(3,12,'2026-09-30','2026-09-30 04:00:07.971768',3,1,3);
/*!40000 ALTER TABLE `purchases_purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfers_transfer`
--

DROP TABLE IF EXISTS `transfers_transfer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfers_transfer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `transfer_date` date NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `created_by_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  `from_base_id` bigint NOT NULL,
  `to_base_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `transfers_transfer_created_by_id_f396505d_fk_accounts_user_id` (`created_by_id`),
  KEY `transfers_transfer_equipment_type_id_e1484410_fk_assets_eq` (`equipment_type_id`),
  KEY `transfers_transfer_from_base_id_09cc8817_fk_assets_base_id` (`from_base_id`),
  KEY `transfers_transfer_to_base_id_b95947fa_fk_assets_base_id` (`to_base_id`),
  CONSTRAINT `transfers_transfer_created_by_id_f396505d_fk_accounts_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `transfers_transfer_equipment_type_id_e1484410_fk_assets_eq` FOREIGN KEY (`equipment_type_id`) REFERENCES `assets_equipmenttype` (`id`),
  CONSTRAINT `transfers_transfer_from_base_id_09cc8817_fk_assets_base_id` FOREIGN KEY (`from_base_id`) REFERENCES `assets_base` (`id`),
  CONSTRAINT `transfers_transfer_to_base_id_b95947fa_fk_assets_base_id` FOREIGN KEY (`to_base_id`) REFERENCES `assets_base` (`id`),
  CONSTRAINT `transfers_transfer_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfers_transfer`
--

LOCK TABLES `transfers_transfer` WRITE;
/*!40000 ALTER TABLE `transfers_transfer` DISABLE KEYS */;
INSERT INTO `transfers_transfer` VALUES (1,3,'2026-09-28','2026-09-28 18:12:01.454602',1,1,1,2),(2,2,'2026-09-29','2026-09-29 10:15:02.443161',1,2,1,3),(3,1,'2026-09-29','2026-09-29 10:39:29.617732',3,2,1,2),(4,2,'2026-09-30','2026-09-30 04:00:25.995404',1,3,3,1),(5,1,'2026-09-30','2026-09-30 04:02:43.488038',3,3,1,3);
/*!40000 ALTER TABLE `transfers_transfer` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-30  9:51:24
